/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { background: #000; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slider-horizontal .mat-slider-wrapper {
    background: #484848!important;
}
